/** 字体图标 */
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.woff2?t=1729250686500') format('woff2'),
    url('iconfont.woff?t=1729250686500') format('woff'),
    url('iconfont.ttf?t=1729250686500') format('truetype');
}

.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/******************************************************/

/** 旋转动画 */
.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/** 主题配置 - 黑色主题 */
body.dark {
  /** 背景色 */
  --color-bg: #252627;
  /** 边框颜色 */
  --color-border: #353535;
  /** 文字颜色 */
  --color-text: #bebebe;
  /** 次要内容的文字颜色 */
  --color-secondary-text: #515d70;
  /** 强调文字背景色 */
  --color-highlight-bg: #19412F;
  /** 按钮文字颜色 */
  --color-btn-text: #3666af;
  /** 滚动条背景色 */
  --color-scrollbar-bg: #2C2F30;
  /** 滚动条滑块颜色 */
  --color-scrollbar-thumb: #515659;
  /** Logo文字渐变色 1 */
  --color-logo-text1: #6078ea;
  /** Logo文字渐变色 2 */
  --color-logo-text2: #17ead9;
}

* {
  background-color: var(--color-bg);
}

body {
  background-color: var(--color-bg);
  width: 100vw;
  height: 100vh;
  display: flex;
  min-width: 850px;
  min-height: 500px;
  overflow: hidden;
  color: var(--color-text) !important;
}

input[type="password"],
input[type="number"],
select,
textarea {
  color: var(--color-text);
}

button {
  color: var(--color-btn-text);
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

body>.left {
  width: 240px;
  padding: 10px 15px 10px 10px;
  display: flex;
  flex-direction: column;
}

body>.left>.header {
  height: 120px;
}

body>.left>.header>h1 {
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  margin-top: 10px;
  background: linear-gradient(45deg, var(--color-logo-text1), var(--color-logo-text2));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--color-border);
}

body>.left>.header>.ctrl {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

body>.left>.header>.ctrl>button {
  border: 1px solid var(--color-border);
  padding: 5px 15px;
}

body>.left>.content {
  flex-grow: 1;
  margin-bottom: 10px;
  padding: 10px 6px;
  overflow-y: auto;
}

body>.left>.content>.item {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

body>.left>.content>.item>.title {
  display: flex;
  flex-grow: 1;
  padding-right: 20px;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

body>.left>.content>.item>.title>* {
  font-size: .8em;
}

body>.left>.content>.item>.ctrl {
  width: 34px;
  position: relative;
}

body>.left>.content>.item>.ctrl>button {
  border: 1px solid var(--color-border);
}

body>.left>.content>.item>.ctrl>button::before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 30px;
  left: -10px;
  top: 0;
  background-color: var(--color-bg);
}

body>.left>.content>.item>.ctrl>button:hover {
  opacity: 1;
}

body>.left>.creatr {
  height: 45px;
  display: flex;
  justify-content: center;
}

body>.left>.creatr>button {
  border: 1px solid var(--color-border);
  padding: 5px 15px;
}

body>.left>.creatr>button:nth-child(1) {
  flex-grow: 1;
  margin-right: 10px;
}

body>.resizer {
  width: 6px;
  cursor: ew-resize;
  border-left: 2px solid var(--color-border);
}

body>.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
}

.main>.header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* .main>.header::after {
  content: '';
  display: block;
  position: absolute;
  width: calc(100% + 20px);
  height: 1px;
  bottom: 0;
  left: -12px;
  background-color: var(--color-border);
} */

.main>.header button {
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

.main>.header>.center {
  text-align: center;
}

.main>.header>.center>h2 {
  padding: 0;
  margin: 0 0 8px 0;
}

.main>.content {
  flex-grow: 1;
}

.main>.bottom {
  height: calc(4em + 30px);
  height: 6em;
  position: relative;
  padding-top: 25px;
}

.bottom>.buttons {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 30px;
  padding-top: 15px;
  position: absolute;
}

.bottom>.buttons>* {
  margin-right: 10px;
  color: var(--color-btn-text);
  font-size: 1.2em;
}

.buttons>.tips {
  font-size: 12px;
  margin-left: 20px;
  position: relative;
  color: var(--color-secondary-text);
}

.buttons>.tips::before {
  content: '|';
  display: block;
  position: absolute;
  left: -20px;
  font-size: 1.5em;
  bottom: -.2em;
  color: var(--color-border);
}

.bottom>textarea {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 3em;
  max-height: calc(calc(1.5em + 10px) * 15);
  border: 2px solid var(--color-border);
  resize: none;
  padding: .5em 50px .5em 1em;
  line-height: 1.5em;
}

.main>.bottom>button {
  width: 1.5em;
  margin-left: 10px;
  position: absolute;
  right: 1em;
  bottom: .4em;
  font-size: 1.5em;
  padding: 0;
}
